.box1,
.box2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box1 {
    background-color: lightblue;
    justify-content: space-around;

}

.text-intro {
    opacity: 0;
    transform:translateY(20px);
    transition: 0.5s all ease-in-out;
}

.text-appear {
    opacity: 1;
    transform: translateY(0px);
}